{%extends 'all-instagram/base.html'%}
{% load bootstrap4 %}

{% block content %}
{{block.super}}
<div class="container">
    <div class="loginform">
        <form  action="{%  url 'edit' %}" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {% bootstrap_form profileform %}
            <div class="form-group" style="text-align: center; color: white;">
                <input style="color: white;" type="submit" class="btn btn-primary" value="Update">
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}