<div class="topnav">
  <a class="nav-link" href="{% url 'welcome' %}" style="font-family: 'Lobster', cursive; font-size:50px;">
    <img alt="Brand" src="https://img.icons8.com/ios-filled/50/000000/instagram-new.png">
    Instagram
    </a>
  <div class="search-container">
    <form role="search" action="{% url 'search_results' %}">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
            </div>
<!-- <ul class="navbar-nav mr-auto" style="font-size: 30px; color: black; ">
                <li><a style="color: black;" href="#"><span class="fas fa-compass hoverable"></span></a></li>
                <li><a style="margin-left: 50px; color: black;" href=""><span class="fas fa-heart hoverable"></span></a></li>
                <li><a style="margin-left: 50px; color: black;" href=""><span class="fas fa-user hoverable"></span></a></li>
            </ul> -->
    </div>
  </div>
</div>